*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #e6e6e6;

}

header, .main, footer{
    background-color: #fff;
    max-width: 90%;
    margin: 20px auto;
}

header nav{
    background-color: #528fd5;
    overflow: hidden;
}

header nav ul{
    list-style: none;

}

header nav ul li{
    float: left;
    padding: 0 12px 0;
}

header nav ul li:hover{
    color: #3efa00;
}

.main .articles{
    width: 70%;
    margin-bottom: 20px;
    padding: 0 12px 0;
}

.main .articles{
    padding: 20px;
    margin-bottom: 20px;
}

aside{

    width: 30%;
    background-color: orangered;
    color: black;
    float:right;
    padding: 20px;
    box-sizing: border-box;
}

footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
}

section{
    display: inline-block;
}